

.has-success .input-group-addon {
    color: white !important;
    background-color: #b94a48 !important;
    border-color: #b94a48 !important;
}

.has-success input {
    border-color: #b94a48 !important;
}

.has-error .input-group-addon {
    color: white !important;
    background-color: orangered !important;
    border-color: orangered !important;
}

.has-error input {
    border-color: orangered !important;
}

.popover,
input {
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

input:focus {
    border-color: orangered !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px orangered !important;
}

#signup-modal {
    padding-top: 100px;
}

.signupheader {
    background-color:  #b94a48;
}

.signupheader h4 {
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    color: white;
    font-weight: bolder;
}

#signupButton {
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-weight: bolder;
}

#login-modal {
    padding-top: 100px;
}

.loginheader {
    background-color: #2c2c2c;
}

.loginheader h4 {
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    color: white;
    font-weight: bolder;
}

#loginButton {
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-weight: bolder;
    background-color: #2c2c2c;
    border-color: #2c2c2c;
    outline: none;
}

#loginButton:hover {
    background-color: black;
}

.customCloseLogin {
    margin-top: 8px;
}

#liked-modal {
    padding-top: 100px;
}

.likeDialog {
    width: 60%;
}

.likeContent {
}

#likedField {
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 100%;
}

#sendToTitle {
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

.SENDTO .input-group-addon {
    background-color: white;
}

#sendToFriend {
    display: none;
}

#sendToFeedback {
    display: none;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#suggestByF,
#suggestByUs {
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 130%;
}

.nameOfFriend {
    font-size: 120%;
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

.suggestFF,
.suggestFU,
#suggestBC {
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    color: black;
}

.suggestFF:hover,
.suggestFU:hover,
#suggestBC:hover {
    color: orangered;
}


#suggestBC {
    display: none;
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 130%;
    width: 85%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    cursor: pointer;
    
}
